@charset "UTF-8";

/* Variables */
:root {
	
	/*Palette*/
  --color-contrast:	#0D2A3A;
  --color-accent: #C9A86A;
  --color-inverse: #CFE3EE;
  --color-hover: #EDF5FA;
  --color-gradient-bg: linear-gradient(90deg, #21435a 0%, #4f6f87 35%, #bfcbd6 100%);
  
  /*Section mapping*/
  --nav-bg: var(--color-contrast);
  --nav-toggle-color: var(--color-inverse);
  --nav-text: var(--color-inverse);
  --nav-text-hover: var(--color-hover);
	
  --body-bg: var(--color-gradient-bg);	
  --body-text: var(--color-contrast);
  
  
  --footer-bg: #0D2A3A;
  --footer-text: #CFE3EE;
  --footer-link-hover: #FFFFFF;
  
  /*Typography*/
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
 
  --h1-size: clamp(3.2rem, 2.8rem + 2vw, 5.2rem);
  --nav-a-size: clamp(0.95rem, 0.85rem + 0.5vw, 1.4rem);
  --p-size: clamp(1.8rem, 1.1rem + 0.7vw, 2.2rem);
  --footer-size: clamp(1.05rem, 0.95rem + 0.3vw, 1.3rem);
  
  --lh-tight: 1.15;
  
  /*table*/
  --cell-max: 28ch;
   
}

/*  HTML Elements*/
html, body { height: 100%; }
body{ display: grid; grid-template-rows: auto 1fr auto; min-height: 100dvh; overflow: hidden; background: var(--color-gradient-bg);}
.site_main{ overflow-y: auto; overflow-x: hidden; box-sizing: border-box; min-width: 0; scrollbar-gutter: stable both-edges; background: var(--color-gradient-bg);}
.site_header{ background: var(--color-gradient-bg); color: var(--nav-text); }
.site_footer{ background: var(--footer-bg); color: var(--footer-text); }
img { display: block; width: 60%; height: auto; margin-inline: auto;}
h1 { color: var(--body-text); font-size: var(--h1-size); line-height: var(--lh-tight); margin-block: 1.5rem 1rem;}
p { color: var(--content-text); line-height:var(--lh-tight);}
a { color: var(--content-text); line-height:var(--lh-tight);}
ul { padding-inline-start: 0; list-style-position: inside; }
/* table container */

.tabla.tabla--fit{ display: block; max-width: 100%; overflow-x: auto; padding: 0 8px 6px; margin-inline: auto;}
.tabla__fit{ display: block; width: max-content; margin-inline: auto;}
.tabla__table{ border-collapse: collapse; width: max-content; table-layout: auto; margin: 0;}

.tabla__table th,.tabla__table td{ border: 1px solid #000; padding: 1rem; vertical-align: middle;
  white-space: nowrap; max-width: var(--cell-max); overflow: hidden; text-overflow: ellipsis;}
.tabla__table td:nth-child(1),
.tabla__table th:nth-child(1){
  --cell-max: 40ch;
}
